<h1>Users</h1>

<div>
  <%= link_to "New User", new_admin_user_path, class: "btn btn-primary float-end" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Role</th>
      <th>Status</th>
      <th>Messages</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.role %></td>
        <td><%= user.status %></td>
        <td><%= user.messages.count %></td>
        <td>
          <%= link_to "Show", admin_user_path(user) %> |
          <%= link_to "Edit", edit_admin_user_path(user) %> |
          <%= link_to "Reset", admin_user_reset_path(user), data: { turbo_method: :patch } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
