<div class="row">
  <div class="col-md-3">
    <div>
      <h1>User</h1>
      <div>Email: <%= @user.email %></div>
      <div>First Name: <%= @user.first_name %></div>
      <div>Last Name: <%= @user.last_name %></div>
      <div>Telegram: <%= @user.telegram_id %></div>
      <div>Username: <%= @user.telegram_username %></div>
      <div>Role: <%= @user.role %></div>
      <div>Status: <%= @user.status %></div>
      <div>Match: <%= @user.matched_user&.email %></div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="messages">
      <% @user.messages.each do |message| %>
        <div class="mt-3 col-9 <%= message.role == "user" ? "offset-md-3" : "" %>">
          <div class="card <%= message.role == "assistant" ? "bg-light" : "bg-primary text-white" %>">
            <div class="card-body">
              <%= simple_format(message.content) %>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <small class="text-muted"><%= message.created_at.strftime("%Y-%m-%d %H:%M:%S") %></small>
            <%= link_to "Delete", admin_user_message_path(@user, message), data: { turbo_method: :delete } %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="mt-3">
      <%= form_with model: [:admin, @user, Message.new] do |f| %>
        <%= f.text_area :content, class: "form-control", rows: 3 %>
        <%= f.submit "Create", class: "btn btn-primary mt-3" %>
      <% end %>
    </div>
  </div>
</div>
